@font-face {
	font-family: 'Belleza'; 
	src: local('Belleza'),
		url(/Belleza.ttf); 
    font-family: 'ofont';
    src:local('ofont'),
    url(/ofont.ttf
    );
}
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
html{
  background-color: #FFF6F0;
  background-position: center;
  background-size: cover;
}
header{
    background-image: url(/probb1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
  background-position:top;
  position: absolute; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: bottom;
        background-size: cover;
}
  .label{
    background-image: url(/333.png);
    position: absolute; top: 15px; left: 550px;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }
  
  .stars{
    background-image: url(/4.png);
    position: absolute; top: 350px; left: 653px;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
  } 
  .bottom{
    position: absolute;
    top: 1450px;
    width: 100%;
    height: 80px;
    background-color: #CA9D86;
    background-position: center;
          background-size: cover;
  }
  .address{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 5px;
    padding: 12px;
    margin: 12px;
    color: #000000;
    text-decoration: none;
  }
  .address:hover{
    text-decoration: underline;
  }
  .subscribe{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 1060px;
    padding: 12px;
    margin: 12px;
  }
  .vk{
    position: absolute;  left: 1300px;
    width: 43px;
  }
  .inst{
    position: absolute;  left: 1357px;
  }
  .tg{
    position: absolute;  left: 1422px;
    width: 43px;
  }
h1{
    font-size: 40px;
  position: absolute;
  top: 510px;
  left: 570px;
  color: #3C1600;
  text-shadow: 0 1px 1px #f7b202;
  font-family:"Belleza";
  width: 550px;
}

body {
    box-sizing: border-box;
}

.container {
    top: 550px;
    position: absolute;
    width: 900px;
    height: 800px;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    z-index: 0;
}

.tab img {
    width: 250px;
    height: 200px;
    z-index: 10;
   
    cursor: pointer;
    
    transition: width 0.5s;
}

[type=radio] {
    display: none;   
}

[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}


[type=radio]:checked ~ label .tab{
    width: 0;
}

.content {
    position: absolute;
    top: 1vh;
    left: 0;
    width: 900px;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 73px;
    margin-left: 73px;
}

a{
  font-family: "Belleza";
  text-decoration: none;
  font-size: 23px;
color: #3C1600;
}
a:hover{
  color: #af40008d;
}
.content img {
    height: auto;
    width: 650px;  
}
img{
    width: 800px;
    height: 600px;
    background-size: 100% auto;
    justify-content: space-between;
}
.block1{
    position: absolute;
    top: 650px;
    left: 900px;
    width: 600px;
    height: 650px;
    color: #3C1600;
  text-shadow: 0 0.5px 0.5px #f7b202;
  font-family:"ofont";
  font-size: 23px;
}

.img{
background-image: url(img2.png);
position: absolute;
top: 1050px;
left: 900px;
width: 587px;
height: 160px;
background-position: no-repeat;
background-size: cover;
}
button{
  background-image: url(butt1.jpg);
width: 200px;
position: absolute;
top: 1250px;
left: 900px;
height: 75px;
border: #E8AF40 solid 1px;
font-family: "Belleza";
font-weight:500;
color: #3C1600;
font-size: 23px;
border-radius: 30px;
text-shadow: 0 1px 1px #f7b202;
cursor: pointer;
text-align: center;
justify-content: space-between;
}
p{
  text-align: justify;
  margin-right: 30px;
}



/*---------------------------------2560px-----------------------------------*/
@media (min-width:2560px) {
  header{
    width: 100%;
  }
h1{
  font-size: 60px;
  width: 600px;
  left: 1000px;
}
  .label{
    
    left: 1100px;
  }
  .stars{
    left: 1200px;
  }
  .bottom{
    top: 1700px;
    width: 100%;
  }
  .tg{
    left: 2450px;
  }
  .inst{
    left: 2380px;
  }
  .vk{
    left: 2320px;
  }
  .subscribe{
    left: 2050px;
  }
 .block1{
   left: 1500px;
   font-size: 40px;
   width: 950px;
 }
 .img{
   top: 1300px;
   left: 1600px;
   width: 787px;
   height: 220px;
 }
 .tab{
   position: relative;
   top:100px;
   left: 200px;
 }
 
 .content{
   width: 1300px;
 }
.content img{
  position: relative;
  top: 150px;
  width: 1100px;
  text-align: center;
}
button{
  width: 500px;
  top: 1550px;
  left: 1100px;
}
a{
  font-size: 60px;
}
}
/*---------------------------------768px-----------------------------------*/
@media (device-width:768px){
header{
  width: 100%;
}
.label{
left: 180px;
}
.stars{
  left: 280px;
}
.bottom{
  top: 2000px;
  width: 100%;
}
.address{
  font-size: 15px;
}
.vk{
  left: 650px;
  width: 30px;
  height: 30px;
  top: 20px;
}
.inst{
  left: 680px;
  width: 40px;
  height: 40px;
  top: 15px;
}
.tg{
  left: 720px;
  width: 30px;
  height: 30px;
  top: 20px;
}
.subscribe{
  left: 500px;
  font-size: 15px;
}
h1{
  left: 200px;
}
.block1{
  top: 1300px;
  left: 70px;
  width: 650px;
  font-size: 24px;
}
.img{
  top: 1650px;
  left: 100px;
}
.content img{
  position: relative;
  width: 600px;
}
.content{
  margin: 0 auto ;
  top: -70px;
}
button{
  top: 1850px;
  left: 300px;
}
.tab{
  top: -100px;
  left: -68px;
  width: 250px;
}
}
/*---------------------------------1440px-----------------------------------*/
@media (device-width:1440px){
.bottom{
  width: 100%;
}
.vk{
  left: 1290px;
}
.inst{
  left: 1335px;
}
.tg{
  left: 1390px;
}
.stars{
  left: 620px;
}
.label{
  left: 510px;
}
header{
  width: 100%;
}
.block1{
  width: 500px;
}
.img{
width: 500px;
height: 140px;
}

}
/*---------------------------------1024px-----------------------------------*/
@media (device-width:1024px){
header{
  width: 100%;
}
.stars{
  left: 400px;
}
.label{
  left: 300px;
}
.bottom{
  width: 100%;
  top: 2100px;
}
.address{
  font-size: 20px;
}
.subscribe{
  font-size: 20px;
  left: 670px;
}
.vk{
  left: 860px;
}
.inst{
  left: 910px;
}
.tg{
  left: 970px;
}
h1{
  left: 350px;
}
.block1{
  top: 1400px;
  left: 210px;
  width: 650px;
  font-size: 24px;
}
.img{
  top: 1750px;
  left: 210px;
}
.container{
  left: 80px;
}
button{
  top: 1950px;
  left: 390px;
}
}
/*---------------------------------430px-----------------------------------*/
@media (max-width:430px){
.label{
  left: 10px;
}
.stars{
  left: 110px;
}
.bottom{
  top:
    1900px;
    width: 100%;
}
.address{
  font-size: 10px;
}
.subscribe{
  font-size: 10px;
  left: 20px;
  top: 30px;
}
.vk{
  left: 140px;
  top: 45px;
  width: 25px;
  height: 25px;
}
.inst{
  left: 170px;
  top: 42px;
  width: 30px;
  height: 30px;
}
.tg{
  left: 210px;
  top: 45px;
  width: 25px;
  height: 25px;
}
h1{
  left: 20px;
}
.block1{
  top: 950px;
  left: 70px;
  width: 350px;
  font-size: 24px;
}
.img{
  top: 1650px;
  left: 80px;
  width: 287px;
  height: 80px;
}
.content img{
  position: relative;
  width: 300px;
}
.content{
  margin: 0 auto ;
  top: -150px;
}
button{
  top: 1750px;
  left: 120px;
}
.tab{
  top: -400px;
  left: -220px;
  width: 100px;
  height: 100px;
}
}
/*---------------------------------380px-----------------------------------*/
@media (max-width:380px){
.label{
  width: 390px;
  left: -10px;
}
.stars{
  left: 90px;
}
h1{
  left: 40px;
  font-size: 30px;
}
.block1{
  top: 950px;
  left: 40px;
  width: 330px;
  font-size: 20px;
}
.img{
  top: 1450px;
  left: 50px;
  width: 287px;
  height: 80px;
}
.content img{
  position: relative;
  width: 300px;
  left: -30px;
}
.content{
  margin: 0 auto ;
  top: -150px;
}
button{
  top: 1550px;
  left: 100px;
}
.tab{
  top: -400px;
  left: -250px;
  width: 100px;
  height: 100px;
}
.bottom{
  top: 1700px;
}
}
/*---------------------------------321px-----------------------------------*/
@media(max-width:321px){
.label{
  left: -40px;
}
.stars{
  left: 60px;
}
h1{
  left: 40px;
  font-size: 26px;
}
.block1{
  top: 950px;
  left: 40px;
  width: 280px;
  font-size: 17.5px;
}
.img{
  top: 1430px;
  left: 18px;
  width: 287px;
  height: 80px;
}
.content img{
  position: relative;
  width: 250px;
  left: -30px;
}
.content{
  margin: 0 auto ;
  top: -180px;
}
button{
  top: 1550px;
  left: 60px;
}
.tab{
  top: -400px;
  left: -290px;
  width: 100px;
  height: 100px;
}
}