@font-face {
	font-family: 'Belleza'; 
	src: local('Belleza'),
		url(/Belleza.ttf); 
    font-family: 'ofont';
    src:local('ofont'),
    url(/ofont.ttf
    );
}

body{
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
html{
  background-color: #FFF6F0;
  background-position: center;
  background-size: cover;
  }
header{
    background-image: url(/probb1.jpg);
    width: 100%;
  height: 500px;
  background-repeat: no-repeat;
background-position:top;
position: relative; 
display: flex;
justify-content: space-between;
align-items: center;
background-position: bottom;
      background-size: cover;
}

  
  .label{
    background-image: url(/333.png);
    position: absolute; top: 15px; left: 550px;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }
  
  .stars{
    background-image: url(/4.png);
    position: absolute; top: 350px; left: 653px;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
  } 
  .bottom{
    position: absolute;
    top: 2600px;
    width: 100%;
    height: 80px;
    background-color: #CA9D86;
  }
  .address{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 5px;
    padding: 12px;
    margin: 12px;
    color: #000000;
    text-decoration: none;
  }
  .address:hover{
    text-decoration: underline;
  }
  .subscribe{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 1060px;
    padding: 12px;
    margin: 12px;
  }
  .vk{
    position: absolute;  left: 1300px;
    width: 43px;
  }
  .inst{
    position: absolute;  left: 1357px;
  }
  .tg{
    position: absolute;  left: 1422px;
    width: 43px;
  }
  .scrolling-wrapper {
    background-image: url(img44.jpg);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    top: 800px;
    position: relative;
    margin: 0 50px;
    width: 94%;
    justify-content: space-between;
    align-items: center;
background-position: bottom;
      background-size: cover;
  }
    .card {
      display: inline-block;
    }
    img{
      width: 500px;
      height: 350px;
      margin: 0 10px;
      cursor: pointer;
    }
    h2{
      font-family: 'Belleza';
      text-shadow: 0 2px 2px #f7b202;
          font-size: 2.5vw;
          color: #3C1600;
         left: 600px;
          position: relative;
          bottom: 10px;
        }
        .img1{
          width: 900px;
          height: 600px;
          top: 20px;
        }
        .block1{
          width: 930px;
          height: 100px;
          margin: 0 50px;
        }
        .img2{
          position:absolute;
          width: 465px;
          height: 290px;
        }
        .img3{
          position: absolute;
          top: 930px;
          width: 465px;
          height: 290px;
        }
        h3{
          
          font-family: 'Belleza';
      text-shadow: 0 1px 1px #f7b202;
          font-size: 2vw;
          color: #3C1600;
          margin-left: 60px;
        }
        .block2{
          position: relative;
          top: 500px;
          width: 1400px;
          height: 100px;
          margin: 0 50px;
          font-family: 'ofont';
      text-shadow: 0 1px 1px #f7b202;
          font-size: 1.5vw;
          color: #3C1600;
          text-align: justify;
        }
        .text1{
          position: relative;
          top: 500px;
        }
        .text2{
          position: relative;
          top: 730px;
        }
        .text3{
          position: relative;
          top: 810px;
        }
        .block3{
          position: relative;
          top: 730px;
          width: 1400px;
          height: 100px;
          margin: 0 50px;
          font-family: 'ofont';
      text-shadow: 0 1px 1px #f7b202;
          font-size: 1.5vw;
          color: #3C1600;
          text-align: justify;
        }
       