@font-face {
	font-family: 'Belleza'; 
	src: local('Belleza'),
		url(/Belleza.ttf); 
    font-family: 'ofont';
    src:local('ofont'),
    url(/ofont.ttf
    );
}
body{
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
html{
  background-color: #FFF6F0;
  background-position: center;
  background-size: cover;
}
header{
  background-image: url(/probb1.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
background-position:top;
position: absolute; 
display: flex;
justify-content: space-between;
align-items: center;
background-position: bottom;
      background-size: cover;
}
  
  .label{
    background-image: url(/333.png);
    position: absolute; top: 15px; left: 550px;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
  }
  
  .stars{
    background-image: url(/4.png);
    position: absolute; top: 350px; left: 653px;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
  } 
  .bottom{
    position: absolute;
    top: 3750px;
    width: 100%;
    height: 80px;
    background-color: #CA9D86;
  }
  .address{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 5px;
    padding: 12px;
    margin: 12px;
    color: #000000;
    text-decoration: none;
  }
  .address:hover{
    text-decoration: underline;
  }
  .subscribe{
    font-family: 'Belleza';
    text-shadow: 0 1px 1px #f7b202;
    font-size: 25px;
    position: absolute;
    left: 1060px;
    padding: 12px;
    margin: 12px;
  }
  .vk{
    position: absolute;  left: 1300px;
    width: 43px;
  }
  .inst{
    position: absolute;  left: 1357px;
  }
  .tg{
    position: absolute;  left: 1422px;
    width: 43px;
  }
  h2{
    position: absolute;
    top: 500px;
    color: #3C1600;
    text-shadow: 0 2px 2px #f7b202;
    font-family:"Belleza";
    font-size: 3vw;
    left: 570px;
  }

  .container {  
    width: 1470px; position: absolute;
    top: 600px;
padding: 20px;
margin: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 100fr 100fr 100fr 100fr 100fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1 foto1 block1"
      "block2 foto2 foto2"
      "foto3 foto3 block3"
      "block4 foto4 foto4"
      "foto5 foto5 block5"
      "block6 foto6 foto6";
  }
  
  .foto1 { grid-area: foto1; 
  height: 500px;
  }
  .img1{
    position: absolute;
    left: 50px;
    top: 25px;
    width: 730px;
    height: 450px;
    background-image: url(spa.jpg);
    justify-content: space-between;
    background-size: cover;

  }
  .foto2 { grid-area: foto2; 
    height: 500px;
  }
  .img2{
    position: absolute;
    left: 100px;
    top: 25px;
    width: 730px;
    height: 450px;
    background-image: url(sport.jpg);
    justify-content: space-between;
    background-size: cover;
  }
  .foto3 { grid-area: foto3; 
    height: 500px;
  }
  .img3{
    position: absolute;
    left: 50px;
    top: 25px;
    width: 730px;
    height: 450px;
    background-image: url(pool.jpg);
    justify-content: space-between;
    background-size: cover;
  }
  .foto4 { grid-area: foto4; 
    height: 500px;
  }
  .img4{
    position: absolute;
    left: 100px;
    top: 25px;
    width: 730px;
    height: 450px;
    justify-content: space-between;
    background-size: cover;
    background-image: url(club.jpg);
  }
  .foto5 { grid-area: foto5; 
    height: 500px;
  }
  .img5{
    position: absolute;
    left: 50px;
    top: 25px;
    width: 730px;
    height: 450px;
    background-image: url(orangery.jpg);
    justify-content: space-between;
    background-size: cover;
  }
  .foto6 { grid-area: foto6; 
    height: 500px;
  }
  .img6{
    position: absolute;
    left: 100px;
    top: 25px;
    width: 730px;
    height: 450px;
    justify-content: space-between;
    background-size: cover;
    background-image: url(kids.jpg);
  }
  p{
    font-family: "ofont";
    font-size: 1.5vw;
    color: #3C1600;
    text-shadow: 0 1px 1px #f7b202;
    text-align: justify;
  }
  .block1 { grid-area: block1; 
  right: 40px;
  width: 600px;
  }
  
  .block2 { grid-area: block2; 
    left: 55px;
    width: 600px;
  }
  
  .block3 { grid-area: block3; 
    right: 40px;
    width: 600px;
  }
  
  .block4 { grid-area: block4; 
    left: 55px;
    width: 600px;
  }
  
  .block5 { grid-area: block5; 
    right: 40px;
    width: 600px;
  }
  .block6 { grid-area: block6; 
    left: 55px;
    width: 600px;
  }
  
 
  .container * {
    position: relative;
  }
  
  .container *:after {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  h3{
    font-family: "Belleza";
    font-size: 1.8vw;
    color: #3C1600;
    text-shadow: 0 1px 1px #f7b202;
    text-align: center;
  }
  span{
    font-family: "ofont";
    font-size: 1.3vw;
    color: #3C1600;
    text-shadow: 0 1px 1px #f7b202;
    left: 210px;
  }
.price{
  position: absolute;
  top: 3690px;
  left: 650px;
  
}
a{
  text-decoration: none;color: #3C1600;
  text-shadow: 0 1px 1px #f7b202;
}
.a1:hover{
color: #ff995e;
} 
